html,
body {
  font-family: 'Lato', sans-serif;
}

p img {
  width: 80%;
  align-self: center;
}

sup a {
  text-decoration: none;
  color: gray;
}

@media (max-width: 600px) {
  .container {
    padding: 0;
  }
}